* {
    font-family: Arial, Helvetica, sans-serif;
    color: #eeeeee;
    padding: 0;
    font-family: "Segoe UI", sans-serif;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

header {
    height: 50px;
    background-color: #393e46;
    position: fixed;
    width: 100%;
}

#branding{
    height: 50px;
    align-items: center;
    align-content: center;
    align-self: center;
    font-weight: 1000;
    padding: 0 20px;
    margin-left: 75px;
}

#branding p{
    font-size: 25px;
    animation: glow 1s ease-in-out infinite alternate;
    color: #fff;
}

@keyframes glow {
    from {
      text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 2px #fd7014, 0 0 5px #fd7014, 0 0 10px #fd7014, 0 0 15px #fd7014, 0 0 20px #fd7014;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 5px #fd7014, 0 0 10px #fd7014, 0 0 20px #fd7014, 0 0 25spx #fd7014, 0 0 30px #fd7014;
    }
  }

body {
    background-color: #222831;
    overflow-x: hidden;
}

footer {
    height: 40px;
    background-color: #393e46;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0 75px 0 0;
    right: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: center;
}

nav ul li {
    height: 50px;
    display: flex;
    align-items: center;
}

nav ul li a {
    color: #eeeeee;
    padding: 25px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}

nav ul li a:hover {
    background-color: #fd7014;
}

nav ul li a:focus{
    background-color: #fd7014;
}

.focus {
    background-color: #fd7014;
  }

.container {
    display: flex;
    align-items: center;
    align-self: center;
    margin-bottom: 100px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    height: 600px;
}

#name{
    font-size: 35px;
    font-weight: 500;
}

.desc{
    font-size: 20px;
}

.container-image{
    height: 300px;
    margin-right: 100px;
    border-radius: 20px;
    margin-top: 40px;
}

#home{
    flex-direction: row;
}

#skill-box{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 500px;
}

.icons {
    margin: 0 40px;
}

.icons img{
    width: 150px;
    height: auto;
}

.guideline{
    width: 100%;
    margin-top: 100px;
    border: 1px solid #FD7014
}

.container span{
    display: block;
}

#footer-container{
    margin-left: 80px;
    margin-top: 8px;
    display: flex;
    align-items: center;
    align-self: center;
    align-content: center;
}

#footer-container a{
    padding: 0 10px 0 10px;
}

.social-media{
    height: 25px;
    
}

/* LARGE */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    #name {
        font-size: 26px;
    }

    #bio {
        font-size: 18px;
    }

    .desc{
        font-size: 16px;
    }

    .icons img{
        width: 90px;
        height: auto;
    }

    .container-image{
        height: 200px;
        margin-right: 50px;
        border-radius: 20px;
        margin-top: 40px;
    }
}

/* MEDIUM */
@media only screen and (min-width: 481px) and (max-width: 767px) {
    #name {
        font-size: 8px;
    }

    #bio {
        font-size: 12px;
    }

    .desc{
        font-size: 12px;
    }

    .icons img{
        width: 90px;
        height: auto;
    }

    .container-image{
        height: 100px;
        margin-right: 50px;
        border-radius: 20px;
        margin-top: 40px;
    }
    
    .container{
        height: 400px;
    }
}

/* SMALL */
@media only screen and (max-width: 480px) {
    #name {
        margin-top: 7   0px;
        font-size: 14px;
        font-weight: 800px;
    }

    #bio {
        font-size: 10px;
    }

    .desc{
        font-size: 10px;
    }

    .icons img{
        width: 50px;
        height: auto;
    }

    .container-image{
        height: 100px;
        margin-right: 50px;
        border-radius: 20px;
        margin-top: 40px;
    }

    .container{
        height: 300px;
    }

    #skill-box{
        height: 250px;
    }

    .icons{
        margin: 0 10px;
    }

    header {
        height: 30px;
        background-color: #393e46;
        position: fixed;
        width: 100%;
    }
    
    #branding{
        height: 30px;
        align-items: center;
        align-content: center;
        align-self: center;
        font-weight: 1000;
        padding: 0 20px;
        margin-left: 10px;
    }
    
    #branding p{
        font-size: 12px;
    }
    
    nav ul{
        padding: 0 20px 0 0;
    }
    
    nav ul li {
        height: 30px;
        display: flex;
        align-items: center;
    }
    
    nav ul li a {
        color: #eeeeee;
        padding: 15px 8px;
        text-align: center;
        text-decoration: none;
        font-size: 14px;
        font-weight: 500;
    }

}